<ion-list >
    <ion-item [ngStyle]="{'background-color': item.category === '품의서' ? 'green' : 'white'}">
      <ion-card 
        slot="end" 
        [color]="getCardColor(item.status)" 
        class="round-bar-top" 
        (click)="changeStatus(item)"
      >
        <ion-card-subtitle>
          {{item.status}}
        </ion-card-subtitle>
      </ion-card>
      
      <ion-label >
        <h2 [ngStyle]="{'color': item.category === '품의서' ? 'white' : 'black'}">[{{item.category}}] {{item.subject}}</h2> 
        <p [ngStyle]="{'color': item.category === '품의서' ? 'white' : 'black'}">{{ item.date }}  
          <ion-button class="small-button" >페이지 이동</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  