.small-button {
    --padding-start: 6px;
    --padding-end: 6px;
    --border-radius: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
  }
  
  .round-bar-top {
    position: absolute; 
    top: 0;
    right: 0;
    margin: 0;
    
    margin-right: 2px; 
    height: 26px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
   
  }