<ion-list >
    <ion-item>
      <ion-card 
        slot="end" 
        [color]="getCardColor(item.status)" 
        class="round-bar-top" 
        (click)="changeStatus()"
      >
        <ion-card-subtitle>
          {{item.status}}
        </ion-card-subtitle>
      </ion-card>
      
      <ion-label >
        <h2>[{{item.category}}] {{item.subject}}</h2> 
        <p>{{ item.date }}  
          <ion-button class="small-button" >페이지 이동</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  