<ion-list >
  <ng-container *ngIf="item.category === '품의서'; else defaultItem">
    <ion-item [ngStyle]="{'background-color' : itemColors[item.id] || 'green'}" (click)="toggleItemColor(item.id, 'green')">
      <!-- 승인요청,검토요청 클릭 이벤트 -->
      <ion-card 
        slot="end" 
        [color]="getCardColor(item.status)" 
        class="round-bar-top" 
        (click)="changeStatus($event, item)"
      >
        <ion-card-subtitle>
          {{item.status}}
        </ion-card-subtitle>
      </ion-card>
      
      <ion-label >
        <h2 [ngStyle]="{'color': textColors[item.id]|| (item.category === '품의서' ? 'white' : 'black')}">[{{item.category}}] {{item.subject}}</h2> 
        <p [ngStyle]="{'color': textColors[item.id] || (item.category === '품의서' ? 'white' : 'black')}">
          
          {{ item.date }}
          <ion-button class="small-button" (click)="navigateToDetail($event)">페이지 이동</ion-button>
        </p>
      </ion-label>
    </ion-item>
  </ng-container>
  
  <!-- category 가 품의서가 아닌 경우 -->
    <ng-template #defaultItem>
      <ion-item [ngStyle]="{'background-color': itemColors[item.id] || 'white'}" (click)="toggleItemColor(item.id, 'white')">
        <!-- 승인요청,검토요청 클릭 이벤트 -->
        <ion-card 
          slot="end" 
          [color]="getCardColor(item.status)" 
          class="round-bar-top" 
          (click)="changeStatus($event, item)"
        >
          <ion-card-subtitle>
            {{item.status}}
          </ion-card-subtitle>
        </ion-card>
        <ion-label>
          <h2 style="color: black;">[{{item.category}}] {{item.subject}}</h2> 
          <p style="color: black;">{{ item.date }}  
            <ion-button class="small-button" (click)="navigateToDetail($event)">페이지 이동</ion-button>
          </p>
        </ion-label>
      </ion-item>
    </ng-template>
    
  </ion-list>

  