<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>결재 진행 문서</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">결재 진행 문서</ion-title>
      <ion-buttons slot="end">
        <ion-button size="large" color="primary">정렬</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  
  <ion-list>
    <ion-item *ngFor="let item of testDataArr; trackBy:trackItems">
      <ion-button slot="end" color="medium" shape="round" class="round-bar-top">검토요청</ion-button>
      <ion-label>
        <h2>[{{item.category}}] {{item.subject}}</h2> 
        <p>{{ item.date }}  
          <ion-button class="small-button">페이지 이동</ion-button>
        </p>
      </ion-label>
      
    </ion-item>
  </ion-list>
  
</ion-content>